<!doctype html>
<html>
    <head>
		{% if title %}
        <title>{{ title }}</title>
		{% else %}
		<title> news </title>
		{% endif %}
    </head>
    <body>
		<!-- css style -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">


	<!-- top line -->
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
		<!--<li><a href="#" class="nav-link px-2 link-dark">Features</a></li> -->
		<!--<li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li> -->
        <li><a href="/faqs" class="nav-link px-2 link-dark">FAQs</a></li>
        <li><a href="/popular-themes" class="nav-link px-2 link-dark">Popular</a></li>
        <li><a href="/about" class="nav-link px-2 link-dark">About</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-primary me-2">Login</button>
        <button type="button" class="btn btn-primary">Sign-up</button>
      </div>
    </header>


  
	{% for top in tops %}
		<!-- one top -->
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
				<title>Placeholder</title>
				<rect width="100%" height="100%" fill="#55595c"></rect>
				<text x="50%" y="50%" fill="#eceeef" dy=".3em">IMAGE</text>
			</svg>

            <div class="card-body">
				<p class="card-text">
				{{ top.title }}
				</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">
					{% if top.time %}
						{{ top.time }}
					{% else %} 
						time err
					{% endif %}
				</small>
              </div>
            </div>
          </div>
	{% endfor %}

    </body>
</html>
